.slidesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slide {
    padding: 1em;
    border: 1px solid rgb(var(--secondary));
    border-radius: 5px;
    max-width: 100%;
}

.slideTitle {
    position: relative;
    top: -30px;
    overflow: visible;
}  

.slideTitle span {
    font-size: larger;
    font-weight: bold;
    color: rgb(var(--accent-font));
    background: linear-gradient(90deg, rgb(var(--secondary)), rgb(var(--accent)));
    padding: 0 10px;
    border-radius: 20px;
}