.slidesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.slide {
    padding-bottom: 2em;
    max-width: 1000px;
    height: fit-content;
}

.slideTitle {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(var(--secondary));
}  

.slideTitle span {
    font-size: larger;
    font-weight: bold;
    color: rgb(var(--accent-font));
    background: linear-gradient(90deg, rgb(var(--secondary)), rgb(var(--accent)));
    padding: 0 10px;
}

.slideContent {
    margin: 0;
}

.slideText p{
    font-size: 1em;
    margin: 1px;
    text-align: justify;
}