.slidesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slide {
    margin: 2px;
    padding: 1em;
    border: 1px solid rgb(var(--foreground));
    border-radius: 5px;
    max-width: 100%;
}

.slideTitle {
    position: relative;
    top: -30px;
    z-index: 50;
    overflow: visible;
}

.slideTitle span {
    font-size: larger;
    font-weight: bold;
    color: rgb(var(--accent-font));
    background-color: rgb(var(--accent));
    padding: 0 10px;
    border-radius: 20px;
    border: 2px solid rgb(var(--foreground));
}