.timeline {
    position: relative;
    max-width: 90%;
    width: fit-content;
    margin: 0 auto 0 145px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: rgb(var(--foreground));
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -3px;
}

.timelineItem {
    padding: 10px 0;
    position: relative;
    width: 100vw - 120px;
    padding-left: 39px;
    padding-right: 25px;
}

/* arrow */
.timelineItem::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 40px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgb(var(--foreground));
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(var(--foreground)) transparent transparent;
}

/* point */
.timelineItem::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -11px;
    background-color: rgb(var(--accent));
    border: 3px solid rgb(var(--foreground));
    top: 40px;
    border-radius: 50%;
    z-index: 1;
}

.itemImage {
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid rgb(var(--accent));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.itemContent {
    position: relative;
    display: grid;
    grid-template-columns: 220px auto;
    background-color: rgb(var(--foreground));
    color: rgb(var(--background));
    border-radius: 5px;
}

.itemDetails {
    padding: 0 1em;
}

.itemTitle {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    padding: 0 .5em;
    border-radius: 5px;
    border: 2px solid rgb(var(--accent));
    width: fit-content;
    margin: 10px 0;
}

.timeTag {
    position: absolute;
    left: -120px;
    top: 30px;
}

@media only screen and (max-width: 980px) {
    .timeline {
        max-width: 100%;
        margin-left: 10px;
    }

    .timeTag {
        position: static;
        left: -120px;
        top: 30px;
    }

    .itemContent {
        grid-template-columns: auto;
        grid-template-rows: 140px 1fr;
    }

    .itemTitle {
        font-size: 1.2rem;
    }

    .itemSubtitle {
        font-size: 1rem;
    }

    .itemDescription {
        font-size: .8rem;
    }

    .itemDescription code {
        white-space: unset;
    }
}