.navbar {
    position: fixed;
    top: 3vh;
    left: 0;
    height: 68vh;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    padding: 100px 10px;
    white-space: nowrap;
    gap: 40px;
    border-top: 2px solid rgb(var(--secondary));
    border-right: 2px solid rgb(var(--secondary));
    border-bottom: 2px solid rgb(var(--secondary));
    border-radius: 0 5px 5px 0;
    background-color: rgb(var(--background));
    z-index: 80;
}

.navbarToggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbarToggle {
        display: block;
        position: fixed;
        padding: 5px;
        left: 2px;
        top: 40px;
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 0 6px 6px 0;
        background-color: rgb(var(--secondary));
        color: rgb(var(--background));
        transition: left 0.5s ease-in-out;
    }

    .navbarToggle.active {
        left: 222px;
        transition: left 0.5s ease-in-out;
    }

    .navbar {
        left: -200px;
        padding: 100px 0;
        transition: width 0.5s;
        transition: left 0.5s ease-in-out;
    }

    .navbar.active {
        left: 0;
        max-width: 100%;
        border-right: 2px solid rgb(var(--secondary));
        padding: 100px 10px;
        transition: left 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
}

.navbar a {
    text-decoration: none;
    color: rgb(var(--foreground));
}

.navbarItem {
    font-weight: bold;
    margin: 0 10px;
}

.navbarItem.active {
    color: rgb(var(--accent));
}

.navbarItem:hover:not(.active) {
    color: rgb(var(--secondary));
}

.toggleIcon {
    width: 20px;
    height: 20px;
}